*{
  font-family: IRANSansWeb_Bold;
}
tr th{
  font-size: 13px;
}
tr td{
  font-size: 12px;
}
li{
  font-size: 11px;
}
button{
  font-family: IRANSansWeb_Bold;
  font-size: 16px;
}
.table th {
//border: none!important;
  border-top: 1px solid #dee2e6;
}
