
<div class="row ras-top">
  <header class="header-main">
    <div class="row ras-top">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"  data-interval="4000">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="w-100 logo img-responsive" src="./assets/img/header.png" alt="جهش تولید">

          </div>

        </div>
      </div>


    </div>
    <!--      <div class="logo">-->
    <!--        <img src="../../../assets/img/header.jpg">-->
    <!--      </div>-->
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color text-center">

      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
              aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars fa-1x"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto" id="menu">
          <li class="nav-item">
            <a class="nav-link" href="#" style="float: right">صفحه نخست

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="float: right" target="_blank" href="https://adliran.ir/Home/AboutU">اداره کل آموزش و پرورش لرستان
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="float: right" target="_blank" href="https://kh1-lorestan.medu.ir/fa/">اداره آموزش و پرورش ناحیه 1 خرم آباد</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#">درباره ما</a>
          </li>
          <li class="nav-item login" style="margin-right: 100px">
           <a class="nav-link info-color-dark" [routerLink]="['/auth/stud']" >ورود داوطلب</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--/.Navbar -->
  </header>
  <br>
</div>

