<div>
  <p-toast position="center"></p-toast>
  <p class="alert alert-danger text-center">داوطلب گرامی. در صورتی که قصد ویرایش مشخصات ثبت شده خود را دارید، بعد از
    وارد کردن مشخصات مورد نظر روی دکمه (ویرایش مشخصات )بزنید.</p>
  <form [formGroup]="formGroup">
    <p-panel>
      <p-header>مشخصات فردی داوطلب</p-header>
      <div class="row text-right">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                نام داوطلب:
              </div>
              <div class="ui-grid-col-8">
                <input pInputText type="text" formControlName="firstName" [(ngModel)]="studentForm.firstName"
                       value="{{studentForm.firstName}}"/>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                نام خانوادگی داوطلب: :
              </div>
              <div class="ui-grid-col-8">
                <input pInputText type="text" formControlName="lastName" [(ngModel)]="studentForm.lastName"
                       value="{{studentForm.lastName}}"/>
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                شماره ملی :
              </div>
              <div class="ui-grid-col-8">
                <input type="text" pInputText pKeyFilter="num" disabled formControlName="nationalCode"
                       [(ngModel)]="studentForm.nationalCode" maxlength="10"
                       value="{{studentForm.nationalCode}}">
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                شماره همراه :
              </div>
              <div class="ui-grid-col-8">
                <input type="text" pInputText pKeyFilter="num" disabled maxlength="10" formControlName="mobile"
                       [(ngModel)]="studentForm.mobile" value="{{studentForm.mobile}}">
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                نام پدر :
              </div>
              <div class="ui-grid-col-8">
                <input type="text" pInputText formControlName="fatherName" [(ngModel)]="studentForm.fatherName"
                       value="{{studentForm.fatherName}}">

              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                تاریخ تولد:
              </div>
              <div class="ui-grid-col-8">
                <input pInputText type="text" formControlName="birthday" [(ngModel)]="studentForm.birthday"
                       value="{{studentForm.birthday}}"/>
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                سریال شناسنامه :
              </div>
              <div class="ui-grid-col-8">
                <input pInputText type="text" formControlName="serialNumber" [(ngModel)]="studentForm.serialNumber"
                       value="{{studentForm.serialNumber}}"/>
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                کد پستی:
              </div>
              <div class="ui-grid-col-8">
                <input type="text" pInputText pKeyFilter="num"
                       value="{{studentForm.postalCode}}"
                       [(ngModel)]="studentForm.postalCode" formControlName="postalCode" maxlength="10">
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                جنسیت:
              </div>
              <div class="ui-grid-col-8">
                <input type="text" pInputText formControlName="gender" [(ngModel)]="studentForm.gender"
                       value="{{studentForm.gender}}">
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                آدرس :
              </div>
              <div class="ui-grid-col-8">
                <input type="text" pInputText formControlName="address" [(ngModel)]="studentForm.address"
                       value="{{studentForm.address}}">

              </div>

            </div>
          </div>
        </div>
      </div>
    </p-panel>
    <p-panel>
      <p-header>مشخصات تحصیلی داوطلب</p-header>
      <div class="row text-right">
        <p class="alert alert-success text-center">داوطلب گرامی. در صورتی که در فرآیند ثبت نام، به اشتباه در مدرسه ای
          دیگری ثبت نام کرده اید. در این قسمت می توانید  با کلیک کردن روی دکمه (ویرایش مدرسه)، مدرسه مورد نظر خود را انتخاب کنید.</p>

        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                محل تحصیل قبلی داوطلب :
              </div>
              <div class="ui-grid-col-8">
                <input pInputText type="text" formControlName="previousSchool" [(ngModel)]="studentForm.previousSchool"
                       value="{{studentForm.previousSchool}}"/>
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                محل تحصیل جدید:
              </div>
              <div class="ui-grid-col-5">

                <input pInputText type="text" disabled value="{{schoolName}}"/>
              </div>
              <div class="ui-grid-col-3">
                <button pButton type="button" label="ویرایش مدرسه" (click)="showDialog()"></button>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                تلفن محل تحصیل جدید:
              </div>
              <div class="ui-grid-col-8">
                <input type="text" pInputText pKeyFilter="num" disabled value="{{tellSchool}}">
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                آدرس محل تحصیل جدید :
              </div>
              <div class="ui-grid-col-8">
                <input type="text" pInputText pKeyFilter="num" disabled value="{{addressSchool}}">
              </div>

            </div>
          </div>
        </div>
      </div>
    </p-panel>
    <p-panel>
      <p-header>مشخصات سهمیه داوطلب</p-header>
      <div class="row text-right">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                نوع سهمیه :
              </div>
              <div class="ui-grid-col-9">
                <input pInputText type="text" formControlName="quotaTitle" disabled [(ngModel)]="studentForm.quotaTitle"
                       value="{{studentForm.quotaTitle}}"/>
              </div>

            </div>

          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngIf="quotaSchol">
        <div class="p-grid">
          <div class="p-col-12 mt-2 mr-2"><p-radioButton name="group2" value="1" [(ngModel)]="studentForm.quotaPriority" formControlName="quotaPriority" label="الف)-فرزندان شاهد"  inputId="preopt1" (onClick)="setQuota()"></p-radioButton></div>
          <div class="p-col-12 mt-2 mr-2"><p-radioButton name="group2" value="2" [(ngModel)]="studentForm.quotaPriority" formControlName="quotaPriority" label="ب)- فرزندان جانباز 50 درصد به بالا و آزادگان با بیش از 3 سال سابقه اسارت" (onClick)="setQuota()" inputId="preopt2"></p-radioButton></div>
          <div class="p-col-12 mt-2 mr-2"><p-radioButton name="group2" value="3" [(ngModel)]="studentForm.quotaPriority" formControlName="quotaPriority" label="ج)- فرزندان جانباز 25 درصد تا 49 درصد و آزادگان با بیش از 6 ماه سابقه اسارت" (onClick)="setQuota()" inputId="preopt3"></p-radioButton></div>
          <div class="p-col-12 mt-2 mr-2"><p-radioButton name="group2" value="4"  [(ngModel)]="studentForm.quotaPriority" formControlName="quotaPriority" label="د)- فرزندان جانباز زیر 25 درصد  و آزادگان با کمتر از 6 ماه سابقه اسارت" (onClick)="setQuota()" inputId="preopt4"></p-radioButton></div>
          <div class="p-col-12 mt-2 mr-2"><p-radioButton name="group2" value="5"  [(ngModel)]="studentForm.quotaPriority" formControlName="quotaPriority" label="ه)- هیچکدام" (onClick)="setQuota()" inputId="preopt5"></p-radioButton></div>
        </div>
        </div>

      </div>
    </p-panel>
    <div style="height: 300px;margin-right: 50px">

      <button class="mt-5" pButton type="button" label="ویرایش مشخصات" (click)="onSubmit()"></button>
    </div>

  </form>

</div>

<div class="modalEditSchool">
<p-dialog [(visible)]="display" >
  <p-header>
    ویرایش مدرسه
  </p-header>
  <div class="p-grid">
    <div class="p-col-12 mt-2 mr-2">
      <p-radioButton name="groupname" value="رضوان" label="رضوان" [(ngModel)]="schoolNameUpdate" (onClick)="updateSchool()"></p-radioButton>
    </div>
    <div class="p-col-12 mt-2 mr-2">
      <p-radioButton name="groupname" value="گلپایگانی" label="گلپایگانی" [(ngModel)]="schoolNameUpdate" (onClick)="updateSchool()"></p-radioButton>
    </div>
    <div class="p-col-12 mt-2 mr-2">
      <p-radioButton name="groupname" value="فرهنگ دختر" label="فرهنگ دختر" [(ngModel)]="schoolNameUpdate" (onClick)="updateSchool()"></p-radioButton>
    </div>
    <div class="p-col-12 mt-2 mr-2">
      <p-radioButton name="groupname" value="فرهنگ پسر" label="فرهنگ پسر" [(ngModel)]="schoolNameUpdate" (onClick)="updateSchool()"></p-radioButton>
    </div>
  </div>

  <p-footer>
    <button class="mt-1" pButton type="button" label=" تایید" (click)="showDialog()"></button>

  </p-footer>
</p-dialog>
</div>
