<div class="container mt-5" dir="rtl">

  <app-header></app-header>
  <app-mainbody2></app-mainbody2>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small primary-color-dark pt-4 text-right">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row text-right">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">لینک های مفید</h5>
          <hr>
          <ul class="list-unstyled text-right ">
            <li>
              <a target="_blank" href="https://medu.ir/">پرتال اداره کل آموزش و پرورش استان لرستان
              </a>
            </li>
            <li>
              <a target="_blank" href="http://kh1-lorestan.medu.ir">
                پرتال اداره آموزش و پرورش ناحیه 1 خرم آباد
              </a>
            </li>
            <li>
              <a target="_blank"
                 href="https://lorestan.medu.ir/fa/news/item/1158294/%d8%b1%d8%a7%d9%87-%d9%87%d8%a7%db%8c-%d8%af%d8%b3%d8%aa%d8%b1%d8%b3%db%8c-%d8%a8%d9%87-%d8%b4%d8%a7%d8%af?ocode=1000000171">
                شبکه آموزشی دانش آموزی شاد</a>
            </li>
            <li>
              <a target="_blank" href="http://77.237.87.241:7777/"> سامانه مدیریت جلسات</a>
            </li>

          </ul>
        </div>
        <!-- Grid column -->

        <hr>


        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">ارتباط با ما</h5>
          <hr>
          <ul class="list-unstyled text-right">
            <li>
              <a target="_blank" href="http://www.leader.ir/">آدرس: لرستان خرم اباد میدان مادر آموزش و پرورش ناحیه یک
                خرم اباد</a>
            </li>

            <li>
              <a target="_blank" href="http://www.president.ir/" class="font-weight-bold">در صورت هر گونه مشکل در فرآیند ثبت نام با شماره 09168509001 تماس بگیرید</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">نماد اعتماد الکترونیک</h5>
          <hr>

          <ul class="list-unstyled text-right mt-3">

            <a href="javascript:showZPTrust();" title="Ø¯Ø±ÙˆØ§Ø²Ù‡ Ù¾Ø±Ø¯Ø§Ø®Øª Ù…Ø¹ØªØ¨Ø±"><img
              src="https://cdn.zarinpal.com/badges/trustLogo/1.svg" border="0"
              alt="Ø¯Ø±ÙˆØ§Ø²Ù‡ Ù¾Ø±Ø¯Ø§Ø®Øª Ù…Ø¹ØªØ¨Ø±"></a>
            <a><img src="./assets/img/enamad.png"></a>

          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
  </footer>
  <footer class="page-footer pc primary-color-dark">
    <!-- Copyright -->
    <div class="footer-copyright text-center  white-text">

      <p class="mt-2">تمامی حقوق مادی و معنوی این سایت متعلق به آموزش و پرورش ناحیه 1 شهرستان خرم آباد می باشد. </p>
      <hr/>
      <p class="mt-3 py-1 ml-2">طراحی و پیاده سازی شرکت دانش بنیان محاسبات نرم فناوری اطلاعات و ارتباطات آرکا <a
        target="_blank" href="http://www.arkainvent.com">www.arkainvent.com</a></p>

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Copyright -->
  <div class="footer-copyright mobile text-center primary-color-dark white-text">
    <div class="footer-copyright text-center  white-text">

      <p class="mt-2">تمامی حقوق مادی و معنوی این سایت متعلق به آموزش و پرورش ناحیه 1 شهرستان خرم آباد می باشد. </p>
      <hr/>
      <p class="mt-3 py-2 ">طراحی و پیاده سازی شرکت دانش بنیان محاسبات نرم فناوری اطلاعات و ارتباطات آرکا <a
        target="_blank" href="http://www.arkainvent.com">www.arkainvent.com</a></p>

    </div>
  </div>
  <!-- Copyright -->
  <!-- Footer -->
</div>

