<!--<div class="container rtl">-->
  <div>
    <p class="alert alert-info text-center">به پنل ادمین سامانه آزمون آنلاین خوش آمدید</p>
  </div>

  <div class="d-flex justify-content-center  mr-2 mt-4 mb-5">

    <div class="card card-cascade narrower " style="border-radius: 10px!important;
    border: 2px solid #a5becf;">

      <!-- Card image -->
      <div class="view view-cascade overlay">
        <div class="mt-2">
          <p class="text-center" style="font-family: IRANSansWeb_Bold;"><i class="fas fa-user m-2"></i>مدیر گرامی</p>
        </div>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="text-center" style="font-family: IRANSansWeb_Bold; font-size: 18px;font-style: revert"> نکاتی پیرامون
        پنل کاربری
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade ">

          <div class="form-group row d-flex justify-content-center mb-5">

            <ul class="list-group list-group-flush ml-4" style="list-style-type: none!important;">
              <li class="list-group-item" style="color: #333">1- برای مشاهده لیست داوطلب ها از منوی کشویی سمت راست گزینه  <span style="color:red">مدیریت داوطلب ها </span>
                > <span style="color:red">لیست داوطلب ها</span>
                کلیک کنید.
              </li>



            </ul>
          </div>



      </div>
    </div>

  </div>

<!--</div>-->
