<form [formGroup]="formGroup" >
  <p-panel>
    <p-header>مشخصات فردی داوطلب</p-header>
    <div class="row text-right">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          نام داوطلب :
        </div>
        <div class="ui-grid-col-8">
          <input pInputText type="text" disabled formControlName="firstName"  placeholder="{{student['firstName']}}"  />
        </div>

      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          نام خانوادگی داوطلب: :
        </div>
        <div class="ui-grid-col-8">
          <input pInputText type="text" disabled formControlName="lastName" placeholder="{{student['lastName']}}"/>
        </div>

      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          شماره ملی :
        </div>
        <div class="ui-grid-col-8">
          <input type="text" pInputText pKeyFilter="num" disabled  formControlName="nationalCode" maxlength="10" placeholder="{{student['nationalCode']}}">
        </div>

      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          شماره همراه :
        </div>
        <div class="ui-grid-col-8">
          <input type="text" pInputText pKeyFilter="num" disabled maxlength="10" formControlName="mobile" placeholder="{{student['mobile']}}">
        </div>

      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          نام پدر :
        </div>
        <div class="ui-grid-col-8">
          <input type="text" pInputText pKeyFilter="email" disabled formControlName="fatherName" placeholder="{{student['fatherName']}}">

        </div>

      </div>
    </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              تاریخ تولد:
            </div>
            <div class="ui-grid-col-8">
              <input pInputText type="text" formControlName="birthday" disabled placeholder="{{student['birthday']}}"/>
            </div>

          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              سریال شناسنامه :
            </div>
            <div class="ui-grid-col-8">
              <input pInputText type="text" formControlName="serialNumber" disabled placeholder="{{student['serialNumber']}}"/>
            </div>

          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              کد پستی:
            </div>
            <div class="ui-grid-col-8">
              <input type="text" pInputText pKeyFilter="num" disabled formControlName="postalCode" maxlength="10" placeholder="{{student['postalCode']}}">
            </div>

          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              جنسیت:
            </div>
            <div class="ui-grid-col-8">
              <input type="text" pInputText pKeyFilter="num" disabled maxlength="10" placeholder="{{student['gender']}}">
            </div>

          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              آدرس :
            </div>
            <div class="ui-grid-col-8">
              <input type="text" pInputText pKeyFilter="email" formControlName="address" disabled placeholder="{{student['address']}}">

            </div>

          </div>




        </div>
      </div>
    </div>
  </p-panel>
  <p-panel>
    <p-header>مشخصات تحصیلی داوطلب</p-header>
    <div class="row text-right">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              محل تحصیل قبلی داوطلب :
            </div>
            <div class="ui-grid-col-8">
              <input pInputText type="text" formControlName="previousSchool" disabled placeholder="{{student['previousSchool']}}"/>
            </div>

          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              محل تحصیل جدید:
            </div>
            <div class="ui-grid-col-8">
              <input pInputText type="text" disabled placeholder="{{schoolName}}"/>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              تلفن محل تحصیل جدید:
            </div>
            <div class="ui-grid-col-8">
              <input type="text" pInputText pKeyFilter="num" disabled maxlength="10" placeholder="{{tellSchool}}" >
            </div>

          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              آدرس محل تحصیل جدید :
            </div>
            <div class="ui-grid-col-8">
              <input type="text" pInputText pKeyFilter="num" disabled maxlength="10" placeholder="{{addressSchool}}">
            </div>

          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <p-panel>
    <p-header>مشخصات ثبت نامی داوطلب</p-header>
    <div class="row text-right">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              شماره داوطلب :
            </div>
            <div class="ui-grid-col-8">
              <input pInputText type="text" disabled placeholder="{{student['candidateNumber']}}"/>
            </div>

          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              کد رهگیری:
            </div>
            <div class="ui-grid-col-8">
              <input pInputText type="text" disabled placeholder="{{student['trackingCode']}}"/>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              اولویت سهمیه :
            </div>
            <div class="ui-grid-col-8">
              <input pInputText type="text" disabled placeholder="{{student['quotaPriority']}}"/>
            </div>

          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              نوع سهمیه:
            </div>
            <div class="ui-grid-col-8">
              <input pInputText type="text" disabled placeholder="{{student['quotaTitle']}}"/>
            </div>

          </div>
        </div>
      </div>
    </div>
  </p-panel>


</form>
