<div class="d-flex justify-content-center  mr-2 mt-4 mb-5" dir="rtl">

  <div class="card card-cascade narrower " style="border-radius: 10px!important;
    border: 2px solid #a5becf;">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <div class="mt-2">
        <p class="text-center"><i class="fas fa-user m-2"></i>داوطلب گرامی</p>
      </div>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--    <div class="text-center">قابل توجه پذیرفته شدگان  </div>-->

    <!-- Card content -->
    <div class="card-body card-body-cascade ">
      <form>
        <div class="form-group row d-flex justify-content-center mb-5" >
          <div class="alert alert-danger text-right"> كارنـامه نتـایج آزمون مدارس نمونه آموزش و پرورش ناحیه یک خرم آباد
          </div>
          <div class="d-flex justify-content-center flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight  justify-content-center title text-dark" style="text-align: justify; text-justify: inter-word;">به اطلاع داوطلبان آزمون
              مدارس نمونه دولتی آموزش و پرورش ناحیه یک خرم آباد می‌رساند، كارنـامه نتـایج آزمون مذكور بر روی پایگاه
              اطلاع‌رسانی مركز آزمون به نشانی http://www.azmoonkh.ir قابل مشاهده بوده و داوطلبان پس از ورود به
              پروفایل خود با استفاده از دو روش <label>«کدملی-شماره داطلبی»</label> و <label>«کدملی-شماره همراه»</label>،
              از قسمت <label class="text-white info-color">«ورود داوطلب»</label> منوی اصلی سایت به كارنامه خود دسترسی خواهند داشت.

              شایان ذكر است آن دسته از داوطلبانی كه در بخش نتیجه کارنامه خود؛ عبارت : <label class="text-success">«پذیرش»</label> را ملاحظه
              می‌كنند، می‌توانند با توجه به برنامه زمان بندی که از طریق همین سایت در ادامه اعلام شده، برای ثبت نام به
              محل قبولی اعلام شده مراجعه نمایند.
            </div>
          </div>
          <!--          <ul class="list-group list-group-flush ml-4 text-right" style="list-style-type: none!important;">-->
          <!--            <li class="list-group-item text-right" style="color:#0d47a1;font-size: 18px">-->
          <!--توجه: برای دریافت کارت ورود به جلسه آزمون، ابتدا از قسمت منوی سایت روی دکمه (ورود داوطلب) بزنید سپس وارد پنل شخصی خود شوید و در نهایت روی منوی(کارت ورود به جلسه آزمون) کلیک کرده و پرینت کارت خود را بگیرید.-->
          <!--            </li>-->

          <!--            <li class="list-group-item text-right" style="color:#ff4444;font-size: 18px">-->
          <!--توجه: زمان نهایی آزمون مدارس رضوان و گلپایگانی در تاریخ 12 مرداد ماه ساعت 8 صبح برگزار می گردد. همچنین زمان آزمون مدارس فرهنگ در تاریخ 14مرداد ماه ساعت 8 صبح برگزار می گردد.-->
          <!--            </li>-->
          <!--            <li class="list-group-item text-right" style="color:#00C851;font-size: 16px">1- جهت مشاهده و تغییر اطلاعات ثبت نامی به منوی-->
          <!--              اصلی سایت مراجعه و روی دکمه (ورود داوطلب) کلیک کنید.-->
          <!--            </li>-->
          <!--            <li class="list-group-item" style="color:#00C851;font-size: 16px">2- در صورتی که در فرآیند ثبت نام پرداخت هزینه-->
          <!--              با موفقیت انجام شده باشد و داوطلب بقیه مراحل ثبت نام را انجام نداده باشد، لازم است یکبار دیگر مراحل ثبت-->
          <!--              نام انجام دهد.(لازم به ذکر است که برای بار دوم پرداخت هزینه صورت نمی گیرد) .-->
          <!--            </li>-->

          <!--            <li class="list-group-item" style="color:#00C851;font-size: 16px">3-در مدرسه های فرهنگ دختر و فرهنگ پسر متوسطه-->
          <!--              دوم فقط رشته های علوم انسانی می توانند ثبت نام کنند-->
          <!--            </li>-->
          <!--            <li class="list-group-item" style="color: #333">4- <span style="color:red">منابع آزمون</span> ، <span-->
          <!--              style="color:red">تاریخ ثبت نام </span>-->
          <!--              و <span style="color:red">زمان برگزاری آزمون </span> مدرسه متوسطه اول <span style="color:green">گلپایگانی و رضوان</span>- -->
          <!--              مدرسه متوسطه دوم <span style="color:blue"> فرهنگ (دختران-پسران) </span>به صورت زیر می باشد.-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <div class="row">-->
          <!--                <div class="col-md-6 col-lg-6">-->
          <!--                  <img  src="./assets/img/farhang1.png" class="img-responsive" style="width: 100%">-->
          <!--                </div>-->
          <!--                <div class="col-md-6 col-lg-6">-->
          <!--                  <img  src="./assets/img/rezvan1.png" class="img-responsive" style="width: 100%">-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </li>-->
          <!--            <li class="list-group-item" style="color: #333">5- هزینه جهت ثبت نام در آزمون<span style="color:red"> 25,000 هزار تومان </span>می-->
          <!--              باشد.-->
          <!--            </li>-->
          <!--            <li class="list-group-item" style="color: #333;font-size: 14px">6- جهت ثبت نام در آزمون با توجه به مدرسه خود-->
          <!--              روی لینک های که در کادر پایین ، کلیک کنید.-->
          <!--            </li>-->

          <!--          </ul>-->


          <div class="d-flex justify-content-center flex-column bd-highlight mb-3">
            <div class="alert alert-info p-2 bd-highlight text-center  text-dark">مدارک مورد نیاز و برنامه زمانبندی
              برای ثبت نام پایه
              هفتم-رضوان
            </div>
            <div class="p-2 bd-highlight  title text-dark" style="text-align: justify; text-justify: inter-word;"><label>مدارک مورد نیاز</label>: 1- پرینت قبولی در
              آزمون ورودی.2- کارنامه قبولی
              ششم(تمبردار) و تفسیر موضوعی آن. 3- شناسنامه سلامت تایید شده توسط بهداشت. 4- اصل و کپی شناسنامه دانش
              آموز.5- اصل و کپی شناسنامه و کارت ملی والدین.6- عکس 4*3 جدید با حجاب کامل 6 قطعه. 7- پوشه سفید. 8- کپی حکم
              کارگزینی (فرهنگی). 9- کپی کارت جانبازی، کمیته امداد و بهزیستی.10- مبلغ 10/000 تومان وجه نقد بابت بیمه
              حوادث و غیره.11-اولیای محترم، در صورت ادامه فعالیت مجازی مدارس،
              در محیط شاد به جای عکس پروفایل، نام و نام خانوادگی دانش آموز نوشته شود


              <div class="p-2 bd-highlight  title text-dark" style="text-align: justify; text-justify: inter-word;">
                <label>برنامه زمانبندی :</label>
                ثبت نام پذیرفته شدگان بر اساس حروف الفبا خواهد بود که بدین ترتیب از پذیرفته شدگان با حرف اول نام
                خانوادگی <label>«الف»</label> تا <label>«ش»</label> <label class="text-danger">سه شنبه 21 مرداد</label> و حروف <label>«ص»</label> تا
                <label>«ی»</label>  <label class="text-danger">چهارشنبه 22 مرداد</label> ثبت نام به عمل می آید.
              </div>
              <div class=" bd-highlight text-right title text-primary">
                <label><label class="text-danger">توجه فرمایید:</label>پذیرفته شدگان تا چهارشنبه 22مردادماه طبق برنامه زمانبندی شده جهت ثبت نام مهلت دارند، در غیر اینصورت از
                  ذخیره ها ثبت نام به عمل خواهد آمد.
                </label>
              </div>
              <div class=" bd-highlight text-right title text-primary">
                <label> <label class="text-danger">توجه فرمایید:</label> حضور دانش آموز الزامی نیست و به
                  هیچ عنوان با پرونده ناقص ثبت نام انجام نمیگیرد.</label>
              </div>
            </div>

          </div>
          <div class="d-flex justify-content-center flex-column bd-highlight mb-3">
            <div class="alert alert-success p-2 bd-highlight text-center  text-dark">مدارک مورد نیاز و برنامه
              زمانبندی برای ثبت نام
              پایه هفتم-گلپایگانی
            </div>
            <div class="p-2 bd-highlight  title text-dark" style="text-align: justify; text-justify: inter-word;"><label>مدارک مورد نیاز:</label> 1- پرینت قبولی در
              آزمون ورودی.2- کارنامه قبولی
              ششم(تمبردار) و تفسیر موضوعی آن. 3- شناسنامه سلامت تایید شده توسط بهداشت. 4- اصل و کپی شناسنامه دانش
              آموز.5- اصل و کپی شناسنامه و کارت ملی والدین.6- عکس 4*3 جدید یک قطعه. 7- پوشه سفید. 8- کپی حکم کارگزینی
              (فرهنگی). 9- کپی کارت جانبازی، کمیته امداد و بهزیستی.10- حضور دانش آموز الزامی است.

            </div>
            <div class="p-2 bd-highlight title text-dark" style="text-align: justify; text-justify: inter-word;">
              <label>برنامه زمانبندی :</label>
              ثبت نام پذیرفته شدگان بر اساس حروف الفبا خواهد بود که بدین ترتیب از پذیرفته شدگان با حرف اول نام
              خانوادگی <label>«الف»</label> تا <label>«ش»</label> <label class="text-danger">سه شنبه 21 مرداد</label> و حروف <label>«ص»</label> تا
              <label>«ی»</label> <label class="text-danger">چهارشنبه 22 مرداد</label> ثبت نام به عمل می آید.
            </div>
            <div class="p-2 bd-highlight text-right title text-primary">
              <label> <label class="text-danger">توجه فرمایید:</label>پذیرفته شدگان تا چهارشنبه 22مردادماه طبق برنامه زمانبندی شده جهت ثبت نام مهلت دارند، در غیر اینصورت از ذخیره
                ها ثبت نام به عمل خواهد آمد.
              </label>
            </div>
            <div class="p-2 bd-highlight  title text-primary" style="text-align: justify; text-justify: inter-word;">
              <label> <label class="text-danger">توجه فرمایید:</label>اولیای محترم، در صورت ادامه فعالیت مجازی مدارس،
                در محیط شاد به جای عکس پروفایل، نام و نام خانوادگی دانش آموز نوشته شود
              </label>
            </div>
          </div>
          <div class="d-flex justify-content-center flex-column bd-highlight mb-3">
            <div class="alert alert-warning p-2 bd-highlight text-center  text-dark">مدارک مورد نیاز و برنامه زمانبندی برای ثبت نام
              پایه دهم-فرهنگ (دختران-پسران)
            </div>
            <div class="p-2 bd-highlight  title text-dark" style="text-align: justify; text-justify: inter-word;"><label>مدارک مورد نیاز</label> 1- کارنامه پایه نهم.2- گواهی پایان دوره سه ساله
              راهنمایی.3- دفترچه سلامت. 4- گواهی تزریق واکسن ورودی پایه دهم از بهداشت.5- اصل و کپی شناسنامه دانش آموز. 6-
              شش قطعه عکس مربوط به سال جدید.7- کپی کارت ملی و شناسنامه پدر و مادر.8- برگ هدایت تحصیلی.9- پوشه سفید
            </div>
          </div>
          <div class="p-2 bd-highlight  title text-dark" style="text-align: justify; text-justify: inter-word;">
            <label>برنامه زمانبندی :</label>
            ثبت نام پذیرفته شدگان بر اساس حروف الفبا خواهد بود که بدین ترتیب از پذیرفته شدگان با حرف اول نام
            خانوادگی <label>«الف»</label> تا <label>«ش»</label> <label class="text-danger">چهارشنبه 22 مرداد</label> و حروف <label>«ص»</label> تا
            <label>«ی»</label> <label class="text-danger">دوشنبه 27 مرداد</label> ثبت نام به عمل می آید.
          </div>
          <div class="p-2 bd-highlight  title text-primary" style="text-align: justify; text-justify: inter-word;">
            <label> <label class="text-danger">توجه فرمایید:</label>
              در صورت عدم مراجعه در تاریخ های ذکر شده روزهای دوشنبه و چهارشنبه ثبت نام به عمل خواهد آمد.
            </label>
          </div>
        </div>

      </form>

    </div>
  </div>

</div>


<!--<div class="row" style="margin-top: 20px;margin-bottom: 20px">-->
<!--  <div class="col-md-6 col-lg-6">-->
<!--    <p-panel class="panel0">-->
<!--      <p-header>-->
<!--        ثبت نام در آزمون متوسطه اول-->
<!--      </p-header>-->
<!--      <div class="ui-g">-->
<!--        <div class="ui-g-6">-->

<!--          <div class="service-content" style="margin-right: 25px">-->
<!--            <div class="media block-6 d-block text-center">-->
<!--              <div class="icon justify-content-center align-items-center"-->
<!--                   [routerLink]="['/auth/login',schoolModels[1]._id]" (click)="setSchoolID(schoolModels[1]._id)">-->


<!--&lt;!&ndash;                [routerLink]="['/auth/login',schoolModels[1]._id]" (click)="setSchoolID(schoolModels[1]._id)"&ndash;&gt;-->
<!--                <img src="./assets/img/studentgol1.png" class="img">-->

<!--                <p class="heading">{{ schoolModels[1].schoolName}}</p>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ui-g-6">-->

<!--          <div class="service-content" style="margin-right: 25px">-->
<!--            <div class="media block-6 d-block text-center">-->
<!--              <div class="icon justify-content-center align-items-center"-->
<!--                   [routerLink]="['/auth/login',schoolModels[0]._id]" (click)="setSchoolID(schoolModels[0]._id)">-->
<!--&lt;!&ndash;                [routerLink]="['/auth/login',schoolModels[0]._id]" (click)="setSchoolID(schoolModels[0]._id)"&ndash;&gt;-->
<!--                <img src="./assets/img/studentgol.png" class="img">-->

<!--                <p class="heading">{{schoolModels[0].schoolName}}</p>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--            <p-footer>-->
<!--              <div class="text-center text-danger font-weight-bold">-->
<!--                زمان ثبت نام به پایان رسید.-->
<!--              </div>-->

<!--            </p-footer>-->
<!--    </p-panel>-->

<!--  </div>-->
<!--  <div class="col-md-6 col-lg-6">-->
<!--    <p-panel class="panel1">-->
<!--      <p-header>-->
<!--        ثبت نام در آزمون متوسطه دوم-->
<!--      </p-header>-->
<!--      <div class="ui-g">-->
<!--        <div class="ui-g-6">-->

<!--          <div class="service-content " style="margin-right: 25px">-->
<!--            <div class="media block-6 d-block text-center">-->
<!--              <div class="icon justify-content-center align-items-center"-->
<!--                   [routerLink]="['/auth/login',schoolModels[2]._id]" (click)="setSchoolID(schoolModels[2]._id)">-->
<!--&lt;!&ndash;                [routerLink]="['/auth/login',schoolModels[2]._id]" (click)="setSchoolID(schoolModels[2]._id)"&ndash;&gt;-->
<!--                <img src="./assets/img/studentgol1.png" class="img">-->

<!--                <p class="heading">{{schoolModels[2].schoolName}}</p>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--&lt;!&ndash;        <div class="ui-g-6 ">&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="service-content  " style="margin-right: 25px" disabled>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="media block-6 d-block text-center">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="icon justify-content-center align-items-center"&ndash;&gt;-->
<!--&lt;!&ndash;                 >&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                [routerLink]="['/auth/login',schoolModels[3]._id]" (click)="setSchoolID(schoolModels[3]._id)"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="./assets/img/studentgol.png" class="img">&ndash;&gt;-->

<!--&lt;!&ndash;                <p class="heading">{{schoolModels[3].schoolName}} </p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->

<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--      <p-footer>-->
<!--        <div class="text-center text-danger font-weight-bold">-->

<!--&lt;!&ndash;          زمان ثبت نام به پایان رسید.&ndash;&gt;-->
<!--        </div>-->
<!--      </p-footer>-->
<!--    </p-panel>-->

<!--  </div>-->
<!--</div>-->

