<mat-sidenav-container class="sidenav-container" dir="rtl">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar class="title-sidebar">پنل مدیریت</mat-toolbar>
    <hr style="margin-top: -10px"/>
    <mat-nav-list dir="rtl">
      <a mat-list-item  >
        <i class="pi pi-home ml-3"></i>
        صفحه اصلی </a
      >

      <p-accordion dir="rtl">
        <p-accordionTab>
          <p-header>
            <label class="text-right"><i class="fas fa-user-circle ml-3"></i>مديريت داوطلب ها </label>
          </p-header>
          <mat-list>
            <mat-list-item routerLink="./student"><i class="fas fa-list ml-3"></i>لیست  داوطلب ها</mat-list-item>
            <mat-list-item routerLink="./result"><i class="fas fa-list ml-3"></i>لیست نتایج</mat-list-item>



            <!--            <mat-divider style="background-color: white"></mat-divider>-->
<!--            <mat-list-item routerLink="./student"><i class="fas fa-list mr-5"></i>گزارش داوطلب ها</mat-list-item>-->
<!--            <mat-divider style="background-color: white"></mat-divider>-->
<!--            <mat-list-item routerLink="./student"><i class="fas fa-list mr-5"></i>ایجاد پاسخ نامه آزمون</mat-list-item>-->

          </mat-list>
        </p-accordionTab>

        <p-accordionTab>
          <p-header>
            <label class="text-right"><i class="fas fa-user ml-3"></i>مدیریت مدارس</label>
          </p-header>
          <mat-list>
            <mat-list-item routerLink="./school"><i class="fas fa-list ml-3"></i>لیست مدارس</mat-list-item>
          </mat-list>
        </p-accordionTab>

      </p-accordion>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <p-toolbar>
      <div class="ui-toolbar-group-right">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <div class="pi pi-bars text-white"></div>
        </button>
      </div>

      <div class="ui-toolbar-group-left">
        <p-menubar [model]="items">
          <!--          <img src="{{this.currentAdmin.data['image']}}" style="width: 45px;height:45px;border-radius: 50px">-->
        </p-menubar>
      </div>
    </p-toolbar>


    <ng-content></ng-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
