*{font-family: IRANSansWeb_Bold;}

:host::ng-deep.ui-panel .ui-panel-titlebar {
  border: 1px solid #c8c8c8;
  padding: 0.571em 1em;
  color:#fff;
  background-color: #33b5e5;}
input{ font-family: IRANSansWeb_Bold;
  font-size: 13px;}
